 
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin-bottom: 10px;
  }
  
  .navLink {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .navLink:hover {
    background-color: #000000;
    color: white;
  }
  
  .active {
    background-color: #337ab7;
    color: #fff;
  }
  
  .icon {
    font-size: 18px;
    margin-right: 10px;
  }